# pixi environments
.pixi/*
!.pixi/config.toml

# virtual env
.venv/

# generated debug config (run ./setup.sh to create)
.vscode/modular.cfg

# mojo LSP/compiler cache (written by modularHomePath in launch.json)
.vscode/cache/
